/* hero & hero title */
.hero {
  background-color: var(--main-hero-bcg-color);
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-main {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button-main:hover,
.button-main:focus {
  background-color: var(--button-focus-color);
}

/* section & section title */

.section-title {
  color: var(--title-head-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* features */
.features .title {
  color: var(--title-head-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* professions */

/* team */
.workers {
  background-color: var(--secondary-bcg-color);
}
.member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-members p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
