body {
  color: var(--title-head-color);
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.page-header__site-nav, .head-contacts, .modal__form-list, .section-workers__team-members, .section-clients__clients-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

p {
  color: #757575;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header__container, .page-footer__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .page-header__container, .page-footer__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__container, .page-footer__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__container, .page-footer__container {
    width: 1200px;
  }
}

.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__logo-part {
  color: #2196f3;
}

.page-header {
  position: relative;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ececec;
  min-height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 16px;
}

@media screen and (min-width: 480px) {
  .page-header__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__container {
    width: 768px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__container {
    width: 1200px;
  }
}

.page-header__nav-button {
  border: none;
  background-color: transparent;
  display: none;
  cursor: pointer;
  margin-left: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__nav-button:hover, .page-header__nav-button:focus {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .page-header__nav-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.page-header__svg-cross {
  display: none;
}

.page-header__nav-button.is-open .page-header__svg-cross {
  display: block;
}

.page-header__nav-button.is-open .page-header__svg-menu {
  display: none;
}

.page-header__menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  padding: 48px 40px;
  text-align: left;
  font-size: 20px;
}

.page-header__menu-container.is-open {
  display: block;
}

.page-header__main-nav {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .page-header__main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* site nav */
.page-header__site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.page-header__nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__nav-link:hover, .page-header__nav-link:focus {
  color: #2196f3;
}

.page-header__nav-link--current {
  color: #2196f3;
}

.page-header__nav-link--current::after {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -1px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
}

.page-header__item:not(:last-child) {
  margin-right: 50px;
}

/* head contacts */
.head-contacts {
  display: none;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .head-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .head-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .head-contacts__item + .head-contacts__item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .head-contacts__item + .head-contacts__item {
    margin-left: 50px;
    margin-top: 0;
  }
}

.head-contacts__head-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-contacts__head-contact:hover, .head-contacts__head-contact:focus {
  color: #2196f3;
}

.head-contacts__header-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #757575;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-contacts__head-contact:hover .head-contacts__header-svg,
.head-contacts__head-contact:focus .head-contacts__header-svg {
  fill: #2196f3;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-bcg-img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-bcg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button-main {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button-main:hover, .hero__button-main:focus {
  background-color: #0362af;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop--hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  max-width: 450px;
  min-width: 450px;
  min-height: 609px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.modal__button-close {
  position: absolute;
  top: 8px;
  padding: 0;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover, .modal__button-close:focus {
  fill: #2196f3;
}

.modal__close-svg {
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--title-head-color);
  padding: 0;
  margin-top: 0;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__user-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 30px;
  text-align: left;
}

.modal__user-form textarea {
  resize: none;
}

.modal__form-list {
  margin-bottom: 20px;
}

.modal__form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.modal__form-field:last-child {
  margin-bottom: 0;
}

.modal__form-input {
  margin: 0;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__form-input:focus {
  border-color: #2196f3;
  outline: none;
}

.modal__form-input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-input::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .modal__form-input::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .modal__form-input:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .modal__form-input::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .modal__form-input::placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__modal-svg {
  position: absolute;
  top: 29px;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus ~ .modal__modal-svg {
  fill: #2196f3;
}

.modal__comment {
  padding: 12px 16px;
}

.modal__form-input.modal__comment {
  height: 120px;
}

.modal__agreement {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  position: relative;
}

.modal__agreement-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
  padding-left: 8px;
}

@media screen and (min-width: 1200px) {
  .modal__agreement-label {
    font-size: 14px;
    line-height: 1.71;
    padding-left: 7px;
  }
}

.modal__agreement-conditions {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.modal__icon {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 50%;
  left: 1px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  margin-right: 7px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal__icon {
    left: 9px;
  }
}

.modal__input {
  height: 15px;
  width: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal__input:focus {
  outline: none;
}

.modal__input:checked + .modal__icon {
  background-image: url("../images/icon_check.svg");
  fill: #2196f3;
}

.modal__submit-button {
  min-width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  padding: 10px auto;
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit-button:hover, .modal__submit-button:focus {
  background-color: #188ce8;
}

.section-features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-features {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}

.section-features__title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

.section-features__title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-features__features {
  display: block;
}

@media screen and (min-width: 768px) {
  .section-features__features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .section-features__features {
    margin: 0px;
  }
}

.section-features__item {
  text-align: center;
}

.section-features__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .section-features__item:nth-last-child(-n + 2) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .section-features__item {
    width: calc((100% - 2 * 30px) / 2);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .section-features__item {
    width: 270px;
    margin: 0;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
  .section-features__item + .section-features__item {
    margin-left: 30px;
  }
}

.section-features__features-svg-bcg {
  display: block;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-features__features-svg-bcg {
    width: 270px;
  }
}

.section-features__features-svg {
  background-size: contain;
  background-position: center;
  margin: 25px auto;
}

.section-features__item-clock::before {
  background-image: url(../../../images/clock.svg);
}

.section-features__item-diagram::before {
  background-image: url(../../../images/diagram.svg);
}

.section-features__item-astronaut::before {
  background-image: url(../../../images/astronaut.svg);
}

.section-features__meta {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  line-height: 1.71;
  text-align: left;
}

.section-profession {
  padding-top: 94px;
  padding-bottom: 94px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-profession {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section-profession__title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-profession__professions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-profession__item {
  position: relative;
}

.section-profession__item:not(:last-child) {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.section-profession__item :nth-child(3n) {
  margin-right: 0;
}

.section-profession__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.section-profession__professions-description {
  position: absolute;
  bottom: 3px;
  margin: 0;
  padding: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.section-profession__meta {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.section-workers {
  background-color: #f5f4fa;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-workers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-workers__title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-workers__title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.section-workers__team-members {
  display: block;
}

@media screen and (min-width: 768px) {
  .section-workers__team-members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .section-workers__team-members {
    margin: 0px;
  }
}

.section-workers__member-element {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.section-workers__member-element:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .section-workers__member-element:nth-last-child(-n + 2) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .section-workers__member-element {
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .section-workers__member-element {
    width: calc((100% - 2 * 30px) / 2);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .section-workers__member-element {
    width: calc((100% - 90px) / 4);
    margin-left: 0;
  }
  .section-workers__member-element:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 15px;
  }
  .section-workers__member-element:nth-child(4n) {
    margin-right: 0;
  }
  .section-workers__member-element:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}

.section-workers__member {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-workers__image {
  margin-top: 0px;
  margin-bottom: 30px;
  width: 100%;
}

.section-workers__meta {
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-workers__sm-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto 0px auto;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .section-workers__sm-links {
    margin: 0px auto 24px auto;
  }
}

@media screen and (min-width: 1200px) {
  .section-workers__sm-links {
    margin: 0px auto 30px auto;
  }
}

.section-workers__sm-link {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-workers__sm-link:last-child {
  margin-right: 0;
}

.section-workers__sm-link:hover, .section-workers__sm-link:focus {
  background-color: #2196f3;
}

.section-workers__link-svg {
  padding: 0;
  margin: 0;
  border: none;
}

.section-workers__sm-svg {
  margin: 12px;
  fill: #afb1b8;
  background-color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-workers__sm-link:hover .section-workers__sm-svg,
.section-workers__sm-link:focus .section-workers__sm-svg {
  fill: #ffffff;
  background-color: #2196f3;
}

.section-clients {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-clients__title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.section-clients__clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-clients__clients-list {
    margin: 0;
  }
}

.section-clients__client-svg {
  fill: #afb1b8;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  /* box-sizing: border-box; */
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients__client:hover .section-clients__client-svg,
.section-clients__client:focus .section-clients__client-svg {
  fill: #2196f3;
  border-color: #2196f3;
}

.section-clients__client {
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .section-clients__client {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .section-clients__client {
    width: auto;
    margin: 0;
  }
  .section-clients__client:not(:last-child) {
    width: calc((100% - 150px) / 6);
    margin-right: 30px;
  }
  .section-clients__client :nth-child(6n) {
    margin-right: 0;
  }
}

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__container {
  text-align: center;
}

@media screen and (min-width: 480px) {
  .page-footer__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__container {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

.page-footer__leftnright-parts {
  display: block;
}

@media screen and (min-width: 768px) {
  .page-footer__leftnright-parts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .page-footer__leftnright-parts {
    margin-bottom: 60px;
  }
}

.logo--footer {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.page-footer__contact-li:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .page-footer__contact-li:not(:last-child) {
    margin-bottom: 9px;
  }
}

.page-footer__contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__contact--white {
  color: #ffffff;
}

.page-footer__contact:hover, .page-footer__contact:focus {
  color: #2196f3;
}

/* right part of the footer */
.page-footer__left-part {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .page-footer__left-part {
    margin-bottom: 0;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__left-part {
    margin-right: 70px;
  }
}

.page-footer__title {
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .page-footer__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-footer__advs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.page-footer__adv {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__adv > a {
  padding: 0;
  margin: 0;
  border: none;
}

.page-footer__adv:last-child {
  margin-right: 0;
}

.page-footer__adv:hover, .page-footer__adv:focus {
  background-color: #2196f3;
}

.page-footer__svg {
  margin: 12px;
  fill: #ffffff;
}

.page-footer__signup {
  margin-left: auto;
  text-align: center;
}

.page-footer__signup-form {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

@media screen and (min-width: 1200px) {
  .page-footer__signup-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page-footer__signup-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  min-width: 450px;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .page-footer__signup-input {
    min-width: 358px;
    margin-bottom: 0;
  }
}

.page-footer__signup-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__signup-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__signup-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__signup-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__signup-button {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  padding: 10px auto;
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .page-footer__signup-button {
    margin-left: 12px;
  }
}

.page-footer__signup-button:hover, .page-footer__signup-button:focus {
  background-color: #188ce8;
}

.page-footer__signup-svg {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */