:root {
  --primary-text-color: #757575;
  --title-head-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --foter-bcg-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --primary-bcg-color: #e5e5e5;
  --secondary-bcg-color: #f5f4fa;
  --main-hero-bcg-color: #2f303a;
  --button-focus-color: #0362af;
  --header-line-color: #ececec;
  --bottom-block-color: #eeeeee;
  --svg-main-color: #afb1b8;
  --svg-bcg-footer: rgba(255, 255, 255, 0.1);
  --animation-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

body {
  color: var(--title-head-color);
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

/* утилиты */

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

p {
  color: var(--primary-text-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  /* outline: 2px dashed tomato; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ********************************* HEADER ******************************** */

.page-header {
  background-color: var(--white-color);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--header-line-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--title-head-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-part {
  color: var(--accent-color);
}

/* site nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-head-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--animation-timing-function);
}

/* .site-nav .item + .item {
  margin-left: 50px;
} */

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .nav-link:hover,
.site-nav .nav-link:focus {
  color: var(--accent-color);
}
.site-nav .nav-link.current {
  color: var(--accent-color);
}

.site-nav .nav-link {
  position: relative;
}

.site-nav .nav-link.current::after {
  content: '';
  display: flex;
  position: absolute;
  bottom: -1px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* head contacts */

.head-contacts {
  display: flex;
  margin-left: auto;
}

.head-contacts .item + .item {
  margin-left: 50px;
}

.head-contacts .head-contact {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--animation-timing-function);
}
.head-contacts .head-contact:hover,
.head-contacts .head-contact:focus {
  color: var(--accent-color);
}

.header-svg {
  display: flex;
  align-items: center;
  fill: var(--primary-text-color);
  margin-right: 10px;

  transition: fill var(--animation-timing-function);
}

.head-contacts .head-contact:hover .header-svg,
.head-contacts .head-contact:focus .header-svg {
  fill: var(--accent-color);
}

/* ************************* MAIN PAGE ******************************** */

/* hero & hero title */
.hero {
  background-color: var(--main-hero-bcg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/main-bcg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-main {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  letter-spacing: 0.06em;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--animation-timing-function);
}

.button-main:hover,
.button-main:focus {
  background-color: var(--button-focus-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  
  opacity: 1;
  transition: opacity var(--animation-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--animation-timing-function);
}

.button-modal-close {
  position: absolute;
  top: 8px;
  padding: 0;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.close-svg {
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

/* section & section title */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--title-head-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* features */

.section.section-features {
  padding-bottom: 0;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.features .item {
  width: 270px;
}

.features .item + .item {
  margin-left: 30px;
}

.features-svg-bcg {
  display: block;
  height: 120px;
  background: var(--secondary-bcg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-svg {
  background-size: contain;
  background-position: center;
  margin: 25px 100px;
}

.features .item-clock::before {
  background-image: url(../images/clock.svg);
}

.features .item-diagram::before {
  background-image: url(../images/diagram.svg);
}

.features .item-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.features .title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-head-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.features p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  line-height: 1.71;
}

/* professions / What we do */

.professions {
  display: flex;
}

.professions li:not(:last-child) {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.professions li:nth-child(3n) {
  margin-right: 0;
}

.professions li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.professions > li {
  position: relative;
}

.professions-description {
  position: absolute;
  bottom: 3px;
  margin: 0;
  padding: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.professions-description > h3 {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

/* team */

.workers {
  background-color: var(--secondary-bcg-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

.team-members {
  display: flex;
}

.member-element {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member-element:not(:last-child) {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  margin-bottom: 30px;
}

.member-element:nth-child(4n) {
  margin-right: 0;
}

.member-element:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.member {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-members img {
  margin-top: 0px;
  margin-bottom: 30px;
}

.team-members p {
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.sm-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto 30px auto;
  padding: 0;
}

.sm-link {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;

  transition: background-color var(--animation-timing-function);
}

.sm-link > a {
  padding: 0;
  margin: 0;
  border: none;
}

.sm-link:last-child {
  margin-right: 0;
}

.sm-svg {
  margin: 12px;
  fill: var(--svg-main-color);
  background-color: var(--white-color);

  transition: background-color var(--animation-timing-function),
    fill var(--animation-timing-function);
}

.sm-link:hover .sm-svg,
.sm-link:focus .sm-svg {
  fill: var(--white-color);
  background-color: var(--accent-color);
}

.sm-link:hover,
.sm-link:focus {
  background-color: var(--accent-color);
}

/* clients */

.clients {
  margin-top: 0px;
  margin-bottom: 0px;
}

.clients-list {
  display: flex;
}

.client-svg {
  fill: var(--svg-main-color);
  padding: 16px 32px;
  border: 1px solid var(--svg-main-color);
  /* box-sizing: border-box; */
  border-radius: 4px;

  transition: fill var(--animation-timing-function),
    border-color var(--animation-timing-function);
}

.client:not(:last-child) {
  width: calc((100% - 150px) / 6);
  margin-right: 30px;
}

.client:nth-child(6n) {
  margin-right: 0;
}

.client:hover .client-svg,
.client:focus .client-svg {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* *************************** PORTFOLIO PAGE **************************** */

/* filter section */

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.filter-element {
  margin-right: 8px;
}

.filter {
  padding: 6px 22px;

  color: var(--title-head-color);
  background-color: var(--secondary-bcg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;

  transition: color var(--animation-timing-function),
    background-color var(--animation-timing-function),
    box-shadow 250ms var(--animation-timing-function);
}

.filter-element:last-child {
  margin-right: 0;
}

/* .filters .current {
  color: var(--white-color);
  background-color: var(--accent-color);
} */

.filter:hover,
.filter:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* projects */

.projects {
  display: flex;
  flex-wrap: wrap;
}

.element {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.element:nth-child(3n) {
  margin-right: 0;
}

.element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-example {
  text-decoration: none;
  display: block;
}

.project-example:hover,
.project-example:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.project-example > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.element .project-description {
  transform: translateY(100%);
  transition: opacity var(--animation-timing-function),
  transform var(--animation-timing-function);
}

.element:hover .project-description,
.element:focus .project-description {
  opacity: 1;
  transform: translateY(0)
}

.top-part {
  position: relative;
  overflow: hidden;
}

.top-part::before {
  display: inline-block;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}

.element .top-part::before {
  transform: translateY(100%);
  transition: opacity var(--animation-timing-function), transform var(--animation-timing-function);
}

.element:hover .top-part::before,
.element:focus .top-part::before {
  transform: translateY(0);
  opacity: 1;
}

.project-description {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  margin: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
}

.project-title {
  color: var(--title-head-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  margin-top: 0;
  margin-bottom: 0;
}

.bottom-part {
  padding: 20px 24px 20px 24px;

  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-color: var(--bottom-block-color);
  border-left-color: var(--bottom-block-color);
  border-right-color: var(--bottom-block-color);
}

/* ***************************** FOOTER ****************************** */

.page-footer {
  background-color: var(--foter-bcg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer > .container {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;

  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer-contact-li:not(:last-child) {
  margin-bottom: 9px;
}

/* .footer-contact-li:last-child {
  margin-bottom: 0;
} */

.page-footer .footer-contact {
  color: var(--footer-contacts-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
}

.page-footer .footer-contact.address {
  color: var(--white-color);
}

.page-footer .footer-contact {
  transition: color var(--animation-timing-function);
}

.page-footer .footer-contact:hover,
.page-footer .footer-contact:focus {
  color: var(--accent-color);
}

/* right part of the footer */

.footer-left {
  margin-right: 70px;
}

.adv-title {
  display: flex;
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--white-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-advs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto 30px auto;
  padding: 0;
}

.footer-adv {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: var(--svg-bcg-footer);

  transition: background-color var(--animation-timing-function);
}
}
.footer-adv > a {
  padding: 0;
  margin: 0;
  border: none;
}

.footer-adv:last-child {
  margin-right: 0;
}

.footer-svg {
  margin: 12px;
  fill: var(--white-color);
  /* background-color: var(--white-color); */
}

.footer-adv:hover,
.footer-adv:focus {
  background-color: var(--accent-color);
}
