:root {
  --primary-text-color: #757575;
  --title-head-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --foter-bcg-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --primary-bcg-color: #e5e5e5;
  --secondary-bcg-color: #f5f4fa;
  --main-hero-bcg-color: #2f303a;
  --button-focus-color: #0362af;
}

body {
  color: var(--title-head-color);
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

p {
  color: var(--primary-text-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 2px dashed tomato;
}

/* header & logo */

.page-header {
  background-color: var(--white-color);
}

.logo {
  color: var(--title-head-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-part {
  color: var(--accent-color);
}

/* site nav */

.site-nav .nav-link {
  color: var(--title-head-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .nav-link:hover,
.site-nav .nav-link:focus {
  color: var(--accent-color);
}
.site-nav .nav-link.current {
  color: var(--accent-color);
}

/* head contacts */

.head-contacts .head-contact {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.head-contacts .head-contact:hover,
.head-contacts .head-contact:focus {
  color: var(--accent-color);
}

/* hero & hero title */
.hero {
  background-color: var(--main-hero-bcg-color);
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-main {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  /* display: flex; */
  /* align-items: center; */
  /* text-align: center; */
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button-main:hover,
.button-main:focus {
  background-color: var(--button-focus-color);
}

/* section & section title */

.section {
  /* margin-top: 0px; */
  /* margin-bottom: 94px; */
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--title-head-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* features */
.features .title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-head-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.features p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  line-height: 1.71;
}

/* professions / What we do */

/* team */
.workers {
  background-color: var(--secondary-bcg-color);
  margin-top: 0px;
  margin-bottom: 0px;
}
.member {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-members img {
  margin-top: 0px;
  margin-bottom: 30px;
}

.team-members p {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* filter section */

.filter {
  color: var(--title-head-color);
  background-color: var(--secondary-bcg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

/* .filters .current {
  color: var(--white-color);
  background-color: var(--accent-color);
} */

.filter:hover,
.filter:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* projects */

.project-example {
  text-decoration: none;
}

.project-title {
  color: var(--title-head-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

/* footer */

.page-footer {
  background-color: var(--foter-bcg-color);
}
.logo-footer {
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.page-footer .footer-contact {
  color: var(--footer-contacts-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
}

.page-footer .footer-contact.address {
  color: var(--white-color);
}

.page-footer .footer-contact:hover,
.page-footer .footer-contact:focus {
  color: var(--accent-color);
}
