.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;

  & .section-title {
    @extend %visually-hidden;
  }
}

.filters {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.filters__filter-element {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.filters__filter {
  padding: 6px 22px;

  color: $title-head-color;
  background-color: $secondary-bcg-color;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;

  transition: color var$animation-timing-function, background-color var$animation-timing-function,
    box-shadow 250ms var$animation-timing-function;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
