.projects {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
}

.projects__element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.projects__project-example {
  text-decoration: none;
  display: block;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }

  & > img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.projects__project-description {
  transform: translateY(100%);
  transition: opacity $animation-timing-function, transform $animation-timing-function;

  .projects__element:hover &,
  .projects__element:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}

.projects__top-part {
  position: relative;
  overflow: hidden;

  &::before {
    display: inline-block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;

    transform: translateY(100%);
    transition: opacity $animation-timing-function, transform $animation-timing-function;

    .projects__element:hover &,
    .projects__element:focus & {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.projects__project-description {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  //   /* top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%); */

  margin: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  color: $white-color;
}

.projects__project-title {
  color: $title-head-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.projects__project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  margin-top: 0;
  margin-bottom: 0;
}

.projects__bottom-part {
  padding: 20px 24px 20px 24px;

  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-color: $bottom-block-color;
  border-left-color: $bottom-block-color;
  border-right-color: $bottom-block-color;
}
