.hero {
  background-color: $main-hero-bcg-color;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../../images/main-bcg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: $white-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button-main {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: $white-color;
  background-color: $accent-color;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  letter-spacing: 0.06em;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color $animation-timing-function;

  &:hover,
  &:focus {
    background-color: $button-focus-color;
  }
}
