.section-profession {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-profession__title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: $title-head-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-profession__professions {
  display: flex;
}

.section-profession__item {
  position: relative;

  &:not(:last-child) {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }

  & :nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.section-profession__professions-description {
  position: absolute;
  bottom: 3px;
  margin: 0;
  padding: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.section-profession__meta {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  line-height: 1.14;
  text-transform: uppercase;
  color: $white-color;
}
