body {
  position: relative;
}

.page-header {
  position: relative;
  background-color: $white-color;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $header-line-color;
  min-height: 60px;
  align-items: center;
  justify-content: center;
}

.page-header__container {
  @extend %container;
  display: flex;
  align-items: center;
  padding: 15px 16px;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.page-header__main-nav {
  display: inline-block;
  align-items: center;

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

/* site nav */

.page-header__site-nav {
  @extend %list;
  display: flex;
  margin-left: 0;

  @media screen and (max-width: $tablet-1) {
    display: block;
    margin-bottom: 306px;
  }
}

.page-header__nav-link {
  display: block;

  position: relative;

  color: $title-head-color;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--current {
    color: $accent-color;
  }

  transition: color $animation-timing-function;

  @media screen and (min-width: $tablet) {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.14;

    &--current::after {
      content: '';
      display: flex;
      position: absolute;
      bottom: -1px;
      height: 4px;
      width: 100%;
      border-radius: 2px;
      background-color: $accent-color;
    }

    @media screen and (min-width: $desktop) {
      font-size: 20px;
      line-height: 1.14;
    }
  }
}

.page-header__item:not(:last-child) {
  margin-bottom: 32px;

  @media screen and (min-width: $tablet) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

// /* .site-nav .item + .item {
//   margin-left: 50px;
// } */

/* head contacts */

.head-contacts {
  @extend %list;
  display: flex;
  flex-direction: column-reverse;
  margin-left: 0;
  margin-bottom: 64px;

  @media screen and (min-width: $tablet) {
    flex-direction: column;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}

.head-contacts__item + .head-contacts__item {
  margin-bottom: 32px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    margin-top: 10px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 30px;
    margin-top: 0;
  }
}

.head-contacts__head-contact {
  display: flex;
  align-items: center;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color $animation-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    font-size: 12px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.head-contacts__header-svg {
  display: flex;
  align-items: center;
  fill: $primary-text-color;
  margin-right: 10px;

  transition: fill $animation-timing-function;

  .head-contacts__head-contact:hover &,
  .head-contacts__head-contact:focus & {
    fill: $accent-color;
  }
}
